.history-popup {
    .btn {
        border-radius: 4px !important;
    }
    .opblock-summary {
        padding: .4rem;
        border-bottom: none !important;
        .opblock-summary-description {
            padding: 4px;
        }
    }
    .history-name {
        width: 100%;
        max-width: 100%;
    }
    .opblock-summary {
        padding: 0;
        .opblock-summary-control {
            padding: 6px;
        }
    }
}

.btn {
    &.btn-save {
        border-radius: 0 !important;
        background-color: transparent;
        border-color: #7b60ff;
        color: #7b60ff;
        font-family: sans-serif;
    }
    &.btn-history{
        background-color: transparent;
        border-color: #7b60ff;
        color: #7b60ff;
        font-family: sans-serif;

    }
}

.validation-errors.errors-wrapper {
    &.errors-history-success {
        border-color: #7b60ff;
        background: rgba(249, 62, 246, 0.1);
    }
    &.errors-history-fail {
        span {
            color: #ff5b5b;
        }
    }
}